{% extends "base.html" %}


{% block content %}

  {% if heatmap %}
        <div class="posts">
          <h1 class="content-subhead">Post Activity</h1>
{% include 'partial/heatmap.html' %}
        </div>
  {% endif %}

  <div class="posts">
    <h1 class="content-subhead">Recent Posts</h1>

  {% for entry in entries %}
    <section class="post">
      {% include 'partial/postheader.html' %}

      <div class="post-description">
        <p>
          {{ entry.content.replace('\n', '<br>') | truncate(trunc|int) | safe}}
          {% if (entry.content|length) >= trunc|int %}
            <a href="/blog/{{entry.key().id()}}?view=me">more</a>
          {% endif %}
        </p>
      </div>

      {% include 'partial/posttags.html' %}
<!--
      {% include 'partial/postinfo.html' %}
      {% include 'partial/editoptions.html' %}
-->
    </section>
  {% endfor %}

  </div>
{% endblock %}
